// Extra Info
.extra-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 80px !important;
}

// Extra Info Item
.extra-info-item {
  border: 1px solid var(--border-clr);
  border-radius: 5px;
  padding: 20px;

  &:hover {
    border-color: var(--input-clr);
    box-shadow: 0px 3px 3px var(--input-clr);
  }
  .icon {
    font-size: 40px;
    font-weight: bold;
    color: var(--input-clr);
  }

  h4 {
    font-size: 21px;
    font-weight: 700;
    padding: 10px 0px;
  }

  p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
  }
}
